/* Formatação geral */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background: #e6e6e6;

    min-width: 250px;
    
}

/* Layout - header*/

header {
    background-color: #f7b600;
    padding: 20px;
    text-align: center;
    padding-top: 40px;
}

header h1 {
    color: #4e4e4e;
    font-size: 3em;
    padding: 15px;
}

header h1 span {
    color: white;
}

/* Layout - nav*/

nav {
    background-color: #f7b600;
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
}

nav a:hover {
    background-color: white;
    color: #f7b600;
}

/* layout - main */

main {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding-top: 50px;
}

/* layout - main - article*/

main article {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

main article div {

    margin-bottom: 20px;

}


main article section {
    text-align: center;
    border-bottom: 1px solid #f4f4f4;

    padding-top: 10px;
    padding-bottom: 10px;

    background-color: white;
}

main article section h2 {   
    color: #f7b600;
    font-size: 2em;
    padding-bottom: 5px;
}

main article section .sitacao{
    background-color: rgba(3, 3, 3, 0.08);
    font-style: oblique;

    font-family: monospace;

    color: #000000;
    font-size: 1em;

}


main article section div p {
    color: #000000;
    font-size: 1em;
    text-align: justify;
    padding: 20px;
}

main article section div {
    padding: 10px
}


main article section a {
    text-decoration: none;
    font-weight: 600;
    color: #f7b600;
    padding-bottom: 10px;
}



main article figure {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    background-color: white;
}

main article figure img {
    width: 95%;
}

/* layout - main - espaco (gambiara) */

main .espaco {
    height: 100%;
    width: 30px;
}


/* layout - main - aside*/

main aside {
    width: 20%;
    height: 570px;
    max-width: 250px;
    flex-direction: column;
    justify-content: space-between;
}

main aside .box-aside-pai {
    height: 250px;
    background: white;
    padding: 10px;
    text-align: center;
}

main aside h3 {
    color: #565656;
    background: #CCC;
    padding: 5px;
}

main aside .box-aside-filha {
    height: 198px;
    display: flex;
    padding: 10px;
    flex-direction : column;
    justify-content: space-between;
}


main aside .box-aside-filha div {
    font-size: 0.8em;
    height: 94px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



main aside .box-aside-pai .box-aside-filha a {
    text-decoration: none;
    color: #f7b600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35px;
    font-size: 20px;
}

main aside .box-aside-pai .box-aside-filha p {
    height: 35px;
    font-size: 15px;
}

/* footer */

footer {
    width: 100% - 10px; 
    height: 20px;

    text-align: center;
    padding: 20px;
    background: #CCC;
}

/* @media */

@media (max-width: 767px) /* dispositivos móveis, iPads, tablets */
{
   aside
   {
    display: none;
   }

   main article
   {
    width: 80%;
    margin-right: 0px;
   }

   nav a {
    padding: 0px 10px;
   }

   main .espaco {
    display: none;
   }
}

@media (min-width: 768px) and (max-width: 1024px) /* telas pequenas, laptops */
{
    main aside
    {
        width: 200px;
        display: flex;
    }
}

@media (min-width: 1025px) /* telas normais */
{
    main aside
    {
        display: flex;
    }
}



